nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main h1{
    padding-bottom: 1em;
}

main table{
    width: 100%;
}

@media screen and (max-width: 465px){
    main table tr, th{
        font-size: 0.7em;
    }
}

main table th{
    background-color: #EDEDED;
}

main table td{
    background-color: #FAFAFA;
}

main table, td, th{
    border: 1px solid #333;
    border-color: lightgray;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
